.report {
  border: 1px solid black;
}

.header{
  text-align: center;
}

.export{
  float:right;
  position: relative;
  right: 15px;
  top: -48px;
  cursor: pointer;
}

.toolbar{
  text-align: center;
}