.soloButton{
  width: 80%;
  display: inline-block;
  padding: 15px;
  border-radius: 20px;
  transition: .5s ease;
}

.soloButton .count{
  font-size: 60px;
  font-weight: bold;
}
.soloButton .status{
  font-size: 26px;
}

.button{
  width: 20%;
  height: 10%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
}

.pass {
  background-color: limegreen;
}

.button.pass:hover{
  box-shadow: 0 0 20px 3px rgba(0,127,0,.9);
}

.fail {
  background-color: red;
}

.button.fail:hover{
  box-shadow: 0 0 20px 3px rgba(127,0,0,.9);
}

.resolved {
  background-color: #73C2FB;
}

.button.resolved:hover{
  box-shadow: 0 0 20px 3px rgba(0,0,127,.9);
}

.workaround {
 background-color: yellow;
}

.button.workaround:hover{
  box-shadow: 0 0 20px 3px rgba(150,150,0,.9);
}

.count{
  font-size: 45px;
}

.status {
  font-size: 20px;
}

.statusIcon {
  color: #636363;
  float:left;
  margin-left: 15px;
  margin-top: 5px;
}

.backbutton{
  float: bottom;
  bottom: 70px;
  right: 50px;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  transition-property: text-shadow;
}

.backbutton:hover{
  text-shadow: 0 -2px 6px rgba(150,150,150,1);
  text-decoration-line: underline;
}